{% extends 'base_template.html'%}
{% load static %}

{% block body %}

<body>
    <table id="myTable" cellspacing="0">
      <tr class="myRow">
        <td class="myData">First name</td>
        <td class="myData">Last name</td>
        <td class="myData">Course</td>
        <td class="myData">Semester</td>
        <td class="myData">Roll no.</td>
        <td class="myData">Email</td>
        <td class="myData">Phone no.</td>
        <td class="myData">Batch</td>
        <td class="myData">Add</td>
      </tr>
      <tr class="myRow2">
        <td class="myData">First name</td>
        <td class="myData">Last name</td>
        <td class="myData">Course</td>
        <td class="myData">Semester</td>
        <td class="myData">Roll no.</td>
        <td class="myData">Email</td>
        <td class="myData">Phone no.</td>
        <td class="myData">Batch</td>
        <td class="myData"><button onclick="myFunction()" class="my-button">Add</button></td>
      </tr>
      <tr class="myRow2">
        <td class="myData">First name</td>
        <td class="myData">Last name</td>
        <td class="myData">Course</td>
        <td class="myData">Semester</td>
        <td class="myData">Roll no.</td>
        <td class="myData">Email</td>
        <td class="myData">Phone no.</td>
        <td class="myData">Batch</td>
        <td class="myData"><button onclick="myFunction()" class="my-button">Add</button></td>
      </tr>
      <tr class="myRow2">
        <td class="myData">First name</td>
        <td class="myData">Last name</td>
        <td class="myData">Course</td>
        <td class="myData">Semester</td>
        <td class="myData">Roll no.</td>
        <td class="myData">Email</td>
        <td class="myData">Phone no.</td>
        <td class="myData">Batch</td>
        <td class="myData"><button onclick="myFunction()" class="my-button">Add</button></td>
      </tr>
      <tr class="myRow2">
        <td class="myData">First name</td>
        <td class="myData">Last name</td>
        <td class="myData">Course</td>
        <td class="myData">Semester</td>
        <td class="myData">Roll no.</td>
        <td class="myData">Email</td>
        <td class="myData">Phone no.</td>
        <td class="myData">Batch</td>
        <td class="myData"><button onclick="myFunction()" class="my-button">Add</button></td>
      </tr>
    </table>

    <script>
        function myFunction(){

        }
    </script>
  </body>
{% endblock body %}