{% extends 'base_template.html'%}
{% load static %}

{% block body %}

  <body>
  <div class="container">
    <form action="action_page.php" enctype="multipart/form-data" class="My-form">
<div class="My-row">
      <label for="resultTitle">Result Title : &nbsp &nbsp &nbsp</label>
      <input type="text" id="resultTitle" class="My-input" name="firstname" placeholder="  Title"><br>
</div>
<div class="My-row">
      <label for="resultDetail">Detail : &nbsp &nbsp &nbsp</label>
      <input type="text" id="resultDetail" class="My-input" name="lastname" placeholder="  Detail"><br>
</div>
<div class="My-row">
      <label for="time">Time : &nbsp &nbsp &nbsp</label>
      <input type="time" id="time" name="lastname" class="My-input" placeholder=""><br>
</div>
<div class="My-row">
      <label for="uploadedBy">Uploaded By : &nbsp &nbsp &nbsp</label>
      <input type="text" id="uploadedBy" name="lastname" class="My-input" placeholder="  Uploaded By"><br>
</div>

<div class="My-row">
      <label for="course">Course : &nbsp &nbsp &nbsp</label>
      <input type="text" id="course" name="lastname" class="My-input" placeholder="  Course"><br>
</div>
<div class="My-row">
      <label for="semester">Semester : &nbsp &nbsp &nbsp</label>
      <select id="semester" name="semester">
        <option value="first">first</option>
        <option value="second">Second</option>
        <option value="third">Third</option>
        <option value="fourth">Fourth</option>
        <option value="fifth">Fifth</option>
        <option value="sixth">Sixth</option>
      </select><br>
</div>
<div class="My-row">
      <label for="batch">Batch : &nbsp &nbsp &nbsp &nbsp &nbsp</label>
      <input type="text" id="batch" name="lastname" class="My-input" placeholder="  Batch"><br>
</div>
<div class="My-row">
      <label for="chooseFile">Choose file : &nbsp &nbsp &nbsp &nbsp</label>
      <input type="file" id="chooseFile" name="lastname" class="My-input" placeholder="Choose file"><br>
</div>
      <br>
      <input type="submit" id="My-button" value="Submit">
    </form>
  </div>
</body>



{% endblock body %}