{% extends 'base_template.html'%} {% block title %} Select Your Course {% endblock title %} {% block body %}

{% block style %}

{% endblock style %}
<div class="my-main">
    {% comment %} <div class="my-rows">
        <div class="my-cols">
            <h4>Notes</h3>
                <p>You can view and download notes from here</p>
        </div>

        <div class="my-cols">
            <h4>College Activites</h3>
                <p>Look around Activites in your college</p>
        </div>

        <div class="my-cols">
            <h4>Result</h3>
                <p>View and Download your results</p>
        </div>
    </div> {% endcomment %}


    
</div>
{% endblock body %}