{% extends 'base_template.html'%} {% block title %} Select Your Course {% endblock title %}
{% load static %}


{% block body %}
<div class="my-main">
  
    <div class="contain" id="feed">
      {% csrf_token %}
      {% for i in post_data %}
      <div class="post"> 
        <p class="top"> {{i.username}}  <i class="bi bi-three-dots-vertical"  style="font-size: 1.5rem; float:right;"></i></p>
        
        <div class="img"><img src="{{i.post}}" id="Post-image"></div>
    
      
        <div class="buttom" style="margin:1rem;">
          <i class="bi bi-star" id="{{i.username}}" ><span class="likes" style="font-size:12px;"> {{i.likes}} </span> </i> 
          <hr style="border-top:1px solid rgb(0 239 228 / 10%)">
          <p style="font-size:13px;"> {{i.desc}} </p>
        </div>
        
      </div>
      {% endfor %}
    
  
  </div>
</div>
<script>
  var header = document.getElementById("feed");
  var btns = header.getElementsByClassName("bi-star");
  var like = header.getElementsByClassName("likes");
  var csrf = $('[name="csrfmiddlewaretoken"]').val();
  console.log(csrf)
  for (var i = 0; i < btns.length; i++) {
    console.log(i);
    btns[i].addEventListener("click", function() {
      if(this.classList[1].match("bi-star-fill")){
        console.log("true")
        this.classList.remove("bi-star-fill");
        this.classList.add("bi-star");
        var likecount = -1;
        this.firstChild.innerHTML =  parseInt(this.firstChild.innerHTML) - 1;

      }
      else{
        this.classList.remove("bi-star");
        this.classList.add("bi-star-fill");
        var likecount = 1;
        this.firstChild.innerHTML =  parseInt(this.firstChild.innerHTML) + 1;
      }
      $.ajax({
        type:'POST',
        url:'/eventpage',
        data: {
          count : likecount,
          user : this.id,
          csrfmiddlewaretoken : csrf
        },
     
          }
      )
    });
  }
  </script>
  
    {% endblock body %}
    