{% extends 'base_template.html'%} {% block title %} Select Your Course {% endblock title %}
{% load static %}


{% block body %}
<div class="my-main">
  
    <div class="contain">

      <div class="post"> 
        <p class="top"> User name  <i class="bi bi-three-dots-vertical"  style="font-size: 2rem; float:right;"></i></p>
        
        <div class="img"><img src="images/img.jpg" id="Post-image"></div>
    
      
        <i class="bi bi-star" style="font-size: 2rem; margin:1rem;"></i>
        
      </div>

      <div class="post"> 
        <p class="top"> User name  <i class="bi bi-three-dots-vertical"  style="font-size: 2rem; float:right;"></i></p>
        
        <div class="img"><img src="images/img.jpg" id="Post-image"></div>
    
      
        <i class="bi bi-star" style="font-size: 2rem; margin:1rem;"></i>
        
      </div>

      <div class="post"> 
        <p class="top"> User name  <i class="bi bi-three-dots-vertical"  style="font-size: 2rem; float:right;"></i></p>
        
        <div class="img"><img src="images/img.jpg" id="Post-image"></div>
    
      
        <i class="bi bi-star" style="font-size: 2rem; margin:1rem;"></i>
        
      </div>
    
  
  </div>
    {% endblock body %}