{% extends 'base_template.html'%} {% block title %} Home{% endblock title %} {% block body %}

<div class="my-main">
    <div class="my-rows">
        <div class="my-cols">
            <h4>Notes</h3>
                <p>You can view and download notes from here</p>
        </div>

        <div class="my-cols">
            <h4>College Activites</h3>
                <p>Look around Activites in your college</p>
        </div>

        <div class="my-cols">
            <h4>Result</h3>
                <p>View and Download your results</p>
        </div>
    </div>
</div>
{% endblock body %}