 {% extends 'base_template.html'%}
 {% load static %}
 {% block title %} NOTICE Board{% endblock title %}

{% block head %}
     <link rel="stylesheet" href='{% static "style.css"%}'>
   
    
{% endblock head %}
 {% block styel %}
 
 
 {% endblock styel %}
 
 {% block body %}
<div>
    <center><h1 id="heading">NOTICE BOARD</h1></center>
<div class="flex-container-g" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px; border-radius:20px;">
    <div class="flex-item-g" id="flex-item1">
     <img src={% static "images/img.jpg"%} class="img-g">
     <h4> There will Be A IT club Event - Presentation comp, Logo Macking, Best Project On 08/nov/2021. Winner Will Get Cash Price Of Rs. 2000.</h4>
     <p><a href="#" id="link-g">Click Here To for more detail and  Registeration</a></p>
      <p id="my-time-g">04/nov/2021 16:47 </p>
    </div>

    </div>
</div>




{% endblock body %}
