{% extends 'base_template.html'%}
{% load static %}

{% block body %}


<div class="My-Container">
    <h1 id="title">Quiz</h1>
    <div class="Question-div">
      <p class="Question">Q1. Colour of water</p>
      <p class="Option" style="background: indianred;">(a) Yellow</p>
      <p class="Option" style="background: lawngreen; color: black;">(b) green</p>
      <p class="Option">(c) red</p>
      <p class="Option">(d) black</p>
    </div>
    <div class="Question-div">
      <p class="Question">Q1. Colour of water</p>
      <p class="Option" style="background: indianred;">(a) Yellow</p>
      <p class="Option" style="background: lawngreen; color: black;">(b) green</p>
      <p class="Option">(c) red</p>
      <p class="Option">(d) black</p>
    </div>
    <div class="Question-div">
      <p class="Question">Q1. Colour of water</p>
      <p class="Option" style="background: indianred;">(a) Yellow</p>
      <p class="Option" style="background: lawngreen; color: black;">(b) green</p>
      <p class="Option">(c) red</p>
      <p class="Option">(d) black</p>
    </div>
    <div class="Question-div">
      <p class="Question">Q1. Colour of water</p>
      <p class="Option" style="background: indianred;">(a) Yellow</p>
      <p class="Option" style="background: lawngreen; color: black;">(b) green</p>
      <p class="Option">(c) red</p>
      <p class="Option">(d) black</p>
    </div>
</div>
{% endblock body %}