
{% extends 'base_template.html'%}
{% load static %}
{% block title %} NOTICE Board{% endblock title %}

{% block head %}
   
  
   
{% endblock head %}
{% block style %}
.my-flex-cols{
    
    width:100%;
}
.card{
    width: 36%;
    margin: 20px;
    border: #4CB8C4 solid 2px;
}

@media(max-width:600px){
    .card{
        width:80%;
    }

}



{% endblock style %}

{% block body %}

	<h1>Bug Report Form</h1>
    <form>
		Name<br>
		<input type="name" name="fname" placeholder="first">
		<input type="name" name="lname" placeholder="last"><br><br>
        Email<br>
        <input type="email" name="email" size="30"><br><br>
        Type<br>
        <input type="radio" name="type">Bug<br>
        <input type="radio" name="type">Suggestion<br>
        <input type="radio" name="type">Comment<br><br>
        Priority<br>
        <input type="radio" name="priority">High<br>
        <input type="radio" name="priority">Medium<br>
        <input type="radio" name="priority">Low<br><br>
        Screenshot <input type="file" name="filename"><br><br>
        Details<br>
        <textarea  name="details" rows="5" cols="50"></textarea><br>
        <input type="submit" name="submit" >


        
     </form>

     {% endblock body %}