{% extends 'base_template.html'%} {% block title %} Select Your Course {% endblock title %}
{% load static %}

{% block style %}
.my-togel-button{
     background-color:
      blue; color: white;
      font-weight: bold;
       }

       .my-dropworn-list{
           margin:2px;
           background-color:green;
           border-radius:5px;
       }
       .my-dropworn-list>ul>li>.my-dropdown-item{
               border-bottom: solid bisque 2px;
               color:white;
               font-weight: bold;

               padding-left:2rem;


}

        .my-dropworn-list>ul{
           margin-top: 0;
    margin-bottom: 0;
    padding: 0;

       }

       .option{
           background-color: blue;
    font-weight: bold;
    color: white;
    padding: 0.5;
    width: 131px;
    height: 37px;
    border-radius: 4px;
    padding-left: 31px;
       }

       .my-btn{
            background-color: green;
    font-weight: bold;
    color: white;
    padding: 0.5;
    width: 131px;
    height: 37px;
    border-radius: 4px;
       }

      .notes-list{
          display:flex;
          flex-wrap : wrap;
      }

{% endblock style %}

<script>
 {% block script %}
    function togel_dropdown(){
       var togeler =  document.getElementById("course-dropdown");

        if(togeler.style.display == "block"){
            togeler.style.display = "none";
        }

        else{
            togeler.style.display = "block";
        }

    }







 {% endblock script %}
 </script>
{% block body %}


<div class="my-main">
    {% comment %}
    <div class="my-rows">
        <div class="my-cols">
            <h4>Study Material</h3>
                <p>You can view and download notes from here</p>
        </div>

        <div class="my-cols">
            <h4>College Activites</h3>
                <p>Look around Activites in your college</p>
        </div>

        <div class="my-cols">
            <h4>Result</h3>
                <p>View and Download your results</p>
        </div>
    </div> {% endcomment %}

    {% comment %} <div class="my-dropdown">
        <button class="my-togel-button btn" onclick="togel_dropdown()" for="course-dropdown">
            Select Course
        </button>
        <div class="my-dropworn-list" id="course-dropdown" style="display: none;">
            <ul type="none" >
                <li><div class="my-dropdown-item" >BCA</div></li>
                <li><div class="my-dropdown-item">BBA</div></li>
                <li><div class="my-dropdown-item">BJMC</div></li>
                <li><div class="my-dropdown-item">ID</div></li>
            </ul>
        </div>
    </div>
     {% endcomment %}

     {% comment %} <form action="/action_page/">
        <input type="text" placeholder= "Enter The Study Material Name"  > <input type="submit" value="Search" class="my-btn">

     </form> {% endcomment %}

     <h3> All Notes From Your College</h3><hr>
    <form action="/study-materials/" method="POST">
    {% csrf_token %}
        <label for="course">Select Course: </label>
        <select name="course" id="course" class="option" onchange="optionfun()">
            <option value="select">select</option>
            <option value="BCA" >BCA</option>
            <option value="BBA">BBA</option>
            <option value="ID" >ID</option>
            <option value="HM" >HM</option>
        </select>


            <label for="sem">Select Semester : </label>
            <select name="sem" id="sem" class="option" onchange="optionfun()">
                <option value="select">select</option>
                <option value="first" >I</option>
                <option value="secound">II</option>
                <option value="third" >III</option>
                <option value="fourth" >IV</option>
                <option value="fifth" >V</option>
                <option value="six" >VI</option>


            </select>


        <input type="submit" value="Go!" class="my-btn">
    </form>

    <div class="notes-list">
    {% for i in studyMaterial_data %}
        <div class="card" style="width: 18rem; margin: 20px; border: #4CB8C4 solid 2px;">
      <div class="card-body">
        <h5 class="card-title">{{i.material_title}}</h5>
        <p class="" >{{i.material_detail}}</p>
        <p class="">{{i.uploaded_by}} {{i.uploader_course}} {{i.uploader_sem}}</p>
        <p class="">{{i.uploaded_time}}</p>

        <a href= "{{i.uploader_file}}" class="btn btn-primary" style="background-color: #4CB8C4;" >Open pdf</a>
      </div>
    </div>
    {% endfor %}

    </div>

</div>
{% endblock body %}
